.hero-front { font-style: italic;}

.mugshot {
  border: 2px solid #000;
  border-radius: 50%;
  float: left;
  height: auto;
  margin-right: 2rem;
  max-width: 200px;
}

abbr {
  border-bottom: 1px dashed #000;
}

.clearfix:before,
.clearfix:after { content: ""; display: block; height: 0; overflow: hidden; }

.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.button { padding: .5rem; border: 1px solid #2a7ae2; border-radius: 3px; color: #2a7ae2;
  &:visited { border: 1px solid #1756a9}
}